body {
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    overflow-x: hidden;
  }
  
  .img-fluid {
    position: fixed;
    padding: 20px 10px;
    z-index: 2;
  }
  
  h1 {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 174px;
    top: 20px;
    font-size: 50px;
    color: black;
    font-family: 'Avenir LT Pro';
    font-weight: lighter;
  }
  
@media screen and (max-width: 700px) {
h1 {display: none;}
.img-fluid {
position: absolute;
top: 3%; 
left: 35%;}}

hr {position:relative;
  top: 110px;
  height: 0px;
  z-index: 3;
  border-top: 2px solid #000000;
  color: black;}

div#six {
position: absolute;
z-index: 2;
width: 100%;
height: 150px;
top: 0px;
background-color: rgb(255, 255, 255);}
  
div#seven {
position: absolute;
width: 100%;
height: 557px;
top: 140px;
background-color: hsl(306, 30%, 74%);
z-index: -1;}
  
div#eight {
position: absolute;
width: 100%;
height: 2583px;
top: 697px;
background-color: hsl(0, 0%, 100%);
z-index: -1;}
  
div#nine {
position: absolute;
width: 100%;
height: 496.05px;
top: 2788px;
background-color: hsl(306, 30%, 74%);
z-index: -1;}
  
h2 {
position: relative;
top: 120px;
z-index: 0;
text-align: center;
font-family: "Avenir LT Pro";
font-size: 50px;
color: black;
font-weight: lighter;}
  
h3 {
position: relative;
text-align: center;
z-index: 0;
font-family: "Avenir LT Pro";
font-size: 40px;
color: black;
font-weight: lighter;}
  
h4{
position: relative;
text-align: center;
z-index: 0;

font-family: 'Avenir LT Pro',;
color: black; 
font-weight: lighter;}
    
h5 {
position: relative;
text-align: center;
bottom: 4px;
font-family: 'Avenir LT Pro';
font-weight: lighter;}

h6 {
position: relative;
text-align: center;
margin-bottom: 0;
font-family: 'Avenir LT Pro';
font-weight: lighter;}

p.one {
position: relative;
text-align: center;
top: 2788;
font-family: 'Avenir LT Pro';
font-weight: lighter;}

p.two {
position: relative;
text-align: center;
font-family: 'Avenir LT Pro';
font-weight: lighter;}

p.three {
position: relative;
left: 20px;
text-align: center;
font-family: 'Avenir LT Pro';
font-weight: lighter;
margin-top: 400px;}

body {
margin: 0;}
  
main {
min-height: calc(300vh - 0rem);}
  
footer {
height: 4rem;}